<header class="header">
  <div class="header-container">
    <a href="/home" class="logo"></a>
    <%= render "shared/navbar" %>
  </div>
</header>

<hr>

<div>
  <div>
    <h1>
      List of all spender profiles
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new spender profile
    </h2>

    <form action="/insert_spender_profile" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="spender_profile_box">
          Spender Profile
        </label>

        <textarea id="spender_profile_box" name="query_spender_profile" rows="3"></textarea>
      </div>

      <button>
        Create spender profile
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Spender profile
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_spender_profiles.each do |a_spender_profile| %>
      <tr>
        <td>
          <%= a_spender_profile.id %>
        </td>

        <td>
          <%= a_spender_profile.user_id %>
        </td>

        <td>
          <%= a_spender_profile.spender_profile %>
        </td>

        <td>
          <%= time_ago_in_words(a_spender_profile.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_spender_profile.updated_at) %> ago
        </td>

        <td>
          <a href="/spender_profiles/<%= a_spender_profile.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
