<!DOCTYPE HTML>
<html class="h-full">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />

    <title>OPTO | Login</title>

    <link rel="icon" href="favicon.png" sizes="64x64" type="image/png" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Reset CSS -->
    <link rel="stylesheet" href="css/reset.css" />

    <!-- Font CSS -->
    <link rel="stylesheet" href="fonts/mulish/style.css" />
    <link rel="stylesheet" href="fonts/inter/style.css" />

    <!-- Grid CSS -->
    <link href="css/grid.css" rel="stylesheet" media="screen" />

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet" media="screen" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>

    <section class="content-account">

      <div class="content-account-container">
          
        <div class="logo-lg"></div>
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %> 
        <%= form_with(url: user_verify_credentials_path, scope: :session, local: true) do |f| %>
          <div class="well well-sm">
            <h2 class="font700 text-center">Login to Opto</h2>
            <div class="form-group">
              <%= f.label :email, class: 'form-label'%>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'form-label' %>
              <%= f.password_field :password, class: 'form-control mb-40', placeholder: 'Password' %>
            </div>

            <%= f.submit "Log in", class: "btn btn-primary btn-block mb-25", placeholder: "Sign In" %>

            <p class="text-center small mt-20 mb-20" id="forgot_password"><a href="/password/reset" >Forgot Password?</a></p>
            <p class="color-grey text-center small mt-10">Don't have an account yet? <%= link_to "Register", user_sign_up_path %> </p>
            </div>
        <% end %>

      </div>

    </section>
    <!-- ./content-account-->

</body>

</html>
